@model AppUserDetailsModel
@{
    ViewData["Title"] = "Member Details";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<style>
    .post_card_text {
        max-width: 400px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
</style>

<hr />

<section class="basic_info">
    <form action="/appusers/update/@Model.UserID" method="post" style="width: 40%;">
        <h2 class="mb-3">Basic information</h2>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="fullName" value="@Model.Fullname" id="fullName"
                placeholder="Full name" required />
            <label for="fullName">Full name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="@Model.Address" name="address" id="address"
                placeholder="Address" />
            <label for="address">Address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" id="email" value="@Model.Email" class="form-control" name="email" placeholder="Email"
                aria-label="Email" aria-describedby="email" required />
            <label for="email"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-at" viewBox="0 0 16 16">
                    <path
                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                    <path
                        d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                </svg> Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" value="@Model.Password" name="password" id="password"
                placeholder="Password" required />
            <label for="password"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-key" viewBox="0 0 16 16">
                    <path
                        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg> Password</label>
        </div>

        <div class="" style="display: flex;justify-content: center;">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</section>


<section class="posts_info" style="margin-top: 100px;">
    <hr />
    <h2 class="mb-3">Member posts</h2>
    <div class="posts_info_content">
        @if (Model.Posts.Count() == 0)
        {
            <p class="text-center">This user has no post.</p>
        }
        else
        {
            @foreach (var post in Model.Posts)
            {
                <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <h6 class="card-subtitle mb-2" style="color: grey;">Created on @post.CreatedDate</h6>
                        <p class="card-text post_card_text">@post.Content</p>

                        <button type="button" class="btn btn-primary"
                            onclick="location.href='/posts/@post.PostID'">View</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            }
        }
    </div>
</section>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/appUser.js"></script>